.page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > h1 {
    margin-block: 3rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}
